@model IEnumerable<BlockbusterAppRazor.Models.MovieModel>

@{
    ViewData["Title"] = "Index";
}

<h1>FILMES</h1>

<p>
    <a asp-action="Create">Adicionar filme</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Data de lançamento
            </th>
            <th>
                Está ativo?
            </th>
            <th>
                Gênero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
         }
    </tbody>
</table>
